@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

#map {
  height: 700px;
  width: 90%;
  margin: 20px auto;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.map__box {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3rem;
  background-color: #a6a8a9;
  position: relative;
}